name: Build Windows Executable

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install -r requirements.txt

      - name: Build executable with PyInstaller
        shell: pwsh
        run: |
          $genderPath = python -c "import gender_guesser, os; print(os.path.join(os.path.dirname(gender_guesser.__file__), 'data', 'nam_dict.txt'))"
          pyinstaller src\sender_app.py --onefile `
          --add-data "$genderPath;gender_guesser\data"


      - name: Upload .exe
        uses: actions/upload-artifact@v4
        with:
          name: sender-app-exe
          path: dist/sender_app.exe
